# Special ignores
Godot-Song-Manager/addons

# Godot-specific ignores
Godot-Song-Manager/.import/
Godot-Song-Manager/export.cfg
Godot-Song-Manager/export_presets.cfg

# Mono-specific ignores
Godot-Song-Manager/.mono/
Godot-Song-Manager/data_*/
